<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<%- include('../partials/nav') %>

<h1><%= title %> </h1>
<h2>Flight ID #<%= flight._id %></h2>
<h3><%= flight.text %></h3>
<a href="/flights/index">Go back</a>

  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No.: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure: </div>
    <div><%= flight.departure %></div>
  </section>

  
  <a href="/flights/<%= flight._id %>/edit">
    <button>Edit Flight Info</button>
  </a>
  
  <h2>Tickets</h2>
  <form 
  id="add-ticket-form"
  action="/flights/<%= flight._id %>/tickets"
  method="POST"
  >
  <label for="seat-input">Seat</label>
  <input name="seat" required pattern="[A-F][1-9]\d?" placeholder="Must be A1 - F99" id="seat-input" autocomplete="off"></input>
  <label for="price-input">Price:</label>
  <input name="price" placeholder="Input Price" id="price-input" autocomplete="off"> 
    
  </input>
  <button type="submit">Create New Ticket</button>
</form>
<div>Tickets:</div>
  <% if(flight.tickets.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
         <tr>
           <td><%= ticket.createdAt.toLocaleDateString() %></td>
           <td><%= ticket.seat %></td>
           <td><%= ticket.price %> </td>
         </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
  <h3>No Tickets</h3>
  <% } %>

<h2> MEALS </h2>
  <ul>
    <% flight.meals.forEach(mealOrder => { %>
      <li><%= mealOrder.name %></li>
    <% }) %>
  </ul>

<form id="add-meal-to-ticket" action="/flights/<%= flight._id %>/meals" method="POST">
  <select name="mealsId">
    <% meals.forEach(function(meal) { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
    <% }) %>
  </select>
  <button type="submit">Great Choice!</button>
</form>
   
<%- include("../partials/footer") %>